<!DOCTYPE>
<html lang="en">
<head>
  <link href='http://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <title>Bookmark Manager</title>
  <link href="css/general.css" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
   <div id="page-container">
   <div id="content-wrap">
	<header>
		<h1>Bookmark Manager</h1>
	</header>
  <nav>

        <a href="/">Home</a>
  </nav>
	<main>
		<div class="contentSmallForm">
			<h2>Adding Bookmarks</h2>          
			<form method="post" action="/adding_bookmarks">
            <p>
            Title<input name="title" type="text" value="<%=@title%>">
            Description<input name="description" type="text" value="<%=@description%>">
            Author<input name="author" type="text" value="<%=@author%>">  </p>  
            <h2>If you want add tags(3 tags at most)</h2> 
            <select name="select_tag1">    
                <option name="null" value="null">None</option>
                <% @list.each do |tags| %>
                 <option name="<%=tags[:name]%>" value="<%=tags[:name]%>"><%=tags[:name]%></option> 
                <%end%>
            </select>
            <select name="select_tag2">    
                <option name="null" value="null">None</option>
                <% @list.each do |tags| %>
                 <option name="<%=tags[:name]%>" value="<%=tags[:name]%>"><%=tags[:name]%></option> 
                <%end%>
            </select>
            <select name="select_tag3">    
                <option name="null" value="null">None</option>
                <% @list.each do |tags| %>
                 <option name="<%=tags[:name]%>" value="<%=tags[:name]%>"><%=tags[:name]%></option> 
                <%end%>
            </select>
            <p><label for="content">Content</label>  
            <textarea name="content"  rows="5" cols="92"><%=@content%></textarea> </p> 
          
            <input type="submit" value="Add">
        </form>
        <form method="get" action="/">
           <input type="submit" value="Cancel"> 
        </form>
          <%if @validation==false %>
           <p id="failure_text">Please ensure all fields are filled correctly.</p>
          <% end %>
          <%if @duplicate==true %>
           <p id="failure_text">The title of your bookmark already exists. Please change another one.</p>
          <% end %>
          <%if @same_tag==true %>
           <p id="failure_text">The bookmark contains duplicated tags. Please change them to unique.</p>
          <% end %>
        </div>
	</main>
    </div>
	<footer>
		<hr>
		<p>COM1001, 2020</p>
	</footer>
    </div>

</body>
</html>