<!DOCTYPE>
<html lang="en">
<head>
  <link href='http://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <title>Bookmark Manager</title>
   <link href="../../css/general.css" rel="stylesheet" type="text/css" />
  <link href="../css/general.css" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
   <div id="page-container">
   <div id="content-wrap">
	<header>
		<h1>Bookmark Manager</h1>
	</header>
  <nav>
        <a href="/view_bookmarks/details/back">Back To All Bookmarks</a>
  </nav>
	<main>
		<div class="contentSmallForm">
			<h2>Details for Bookmark</h2>
            <p>Id: <%=@id%></p>
            <p>Title: <%=@title%></p>
            <p>Author: <%=@author%></p>
            <p>Description: <%=@description%></p>
            <p>Content: <%=@content%></p>
            <p>Tags:
               <%if @tag1%>
                 #<%=@tag1%>#
                <%end%>
                <%if @tag2%>
                 #<%=@tag2%>#
                <%end%>
                <%if @tag3%>
                 #<%=@tag3%>#            
                <%end%>
                <%if !@tag1&&!@tag2&&!@tag3%>
                  None tags added
                <%end%>
                </p>
            <%if @num_of_rate==0%>
              <p>Rateing: Not Rated</p>
            <%else%>
             <p>Rating: <%=@rate%></p>
            <%end%>
            <p>Number of Ratings: <%=@num_of_rate%></p>     
            <p>Creating Date: <%=@date%></p>   
            
          <%if session[:role]%>
           <form method="post" action="/view_bookmarks/details">
            <input type="hidden" name="id" value="<%=@id%>">
            <select name="rating_points">
                <option value="5" >5</option>
                <option value="4">4</option>
                <option value="3" >3</option> 
                <option value="2" >2</option>
                <option value="1">1</option>
                <option value="0" >0</option> 
            </select>
            <input type="submit" value="Rate">
           </form>
          <%end%>
          <%if @rate_yourself==true %>
                <p id=failure_text>Sorry. You can't rate the bookmark created by you.</p>
          <% end %>
          <%if session[:login]==true %>
            <form method="get" action="/add_comment">
              <input type="submit" value="Add Comment">
            </form>
          <%end%>
             <form method="get" action="/view_comments">
              <input type="submit" value="View Comments(<%=@number_c%>)">
            </form>
          <%if session[:role]=="admin"%>
           <form method="post" action="/view_bookmarks/details/delete">
            <input type="hidden" name="id" value="<%=@id%>">
            <input type="submit" value="Delete">
          </form>
          <%end%>
    </div>
	</main>
    </div>
	<footer>
		<hr>
		<p>COM1001, 2020</p>
	</footer>
    </div>

</body>
</html>