<!DOCTYPE>
<html lang="en">
<head>
  <link href='http://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <title>Bookmark Manager</title>
   <link href="../../css/general.css" rel="stylesheet" type="text/css" />
  <link href="../css/general.css" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
   <div id="page-container">
   <div id="content-wrap">
	<header>
		<h1>Bookmark Manager</h1>
	</header>
  <nav>
        <a href="/logout">Log Out</a>
        <a href="/">Home</a>
        <a href="/my_bookmarks">Back To My Bookmarks</a>
  </nav>
	<main>
		<div class="contentSmallForm">
			<h2>Edit Bookmark</h2>          
          <form method="post" action="/my_bookmarks/edit">
            <p><input name="id" type="hidden" value="<%=@id%>" ></p>
            <p>Title<input name="title" type="text" value="<%=@title%>"></p>
            <p>Author<input name="author" type="text" value="<%=@author%>"></p>
            <p>Description<input name="description" type="text" value="<%=@description%>"></p>
            <h2>You can change or add tags</h2> 
            <select name="select_tag1">    
                <option value="null">None</option>
                <% @list.each do |tags| %>
                 <%if(@tag1==tags[:name])%>
                  <option value="<%=tags[:name]%>" selected><%=tags[:name]%></option> 
                 <%else%>
                  <option value="<%=tags[:name]%>"><%=tags[:name]%></option>
                 <%end%> 
                <%end%>
            </select>
            <select name="select_tag2">    
                <option value="null">None</option>
                <% @list.each do |tags| %>
                  <%if(@tag2==tags[:name])%>
                   <option value="<%=tags[:name]%>" selected><%=tags[:name]%></option> 
                  <%else%>
                   <option value="<%=tags[:name]%>"><%=tags[:name]%></option>
                  <%end%> 
                <%end%>
            </select>
             <select name="select_tag3">    
                <option value="null">None</option>
                <% @list.each do |tags| %>
                 <%if(@tag3==tags[:name])%>
                  <option value="<%=tags[:name]%>" selected><%=tags[:name]%></option> 
                 <%else%>
                  <option value="<%=tags[:name]%>"><%=tags[:name]%></option>
                 <%end%> 
                <%end%>
            </select>
            <p><label for="content">Content</label>  
            <textarea name="content"  rows="5" cols="92"><%=@content%></textarea> </p>   
            <input type="submit" value="Save">
         </form>
   
          <form method="post" action="/my_bookmarks/edit/delete">
            <input type="hidden" name="id" value="<%=@id%>">
            <input type="submit" value="Delete">
          </form>
          <%if @same==true %>
           <p id="failure_text">You need to change something</p>
          <% end %>
          <%if @validation==false %>
           <p id="failure_text">Please ensure all fields are filled correctly.</p>
          <% end %>
          <%if @duplicate==true %>
           <p id="failure_text">The title of your bookmark already exists. Please change another one</p>
          <% end %>
          <%if @same_tag==true %>
           <p id="failure_text">The bookmark contains duplicated tags. Please change them to unique.</p>
          <% end %>
    </div>
	</main>
    </div>
	<footer>
		<ul>
			<li><a href="/">Back to homepage</a></li>
		</ul>
		<hr>
		<p>COM1001, 2020</p>
	</footer>
    </div>

</body>
</html>