<!DOCTYPE>
<html lang="en">
<head>
  <link href='http://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <title>Bookmark Manager</title>
  <link href="css/general.css" rel="stylesheet" type="text/css" />
</head>
<body>
   <div id="page-container">
   <div id="content-wrap">
	<header>
		<h1>Bookmark Manager</h1>
	</header>
    <nav>
		<a href="/login">Log In</a>
        <a href="/">Home</a>
	</nav>
	<main>
		<div class="contentSmallForm">
			<h2>Register</h2>
			<form method="post" action="/register">
            <p>
            Firstname:<input name="firstname" type="text" value="<%=@firstname%>">
            Surname:<input name="surname" type="text" value="<%=@surname%>">
            Username:<input name="username" type="text" value="<%=@username%>">
            E-mail:<input name="email" type="text" value="<%=@email%>">
            Mobile Number:<input name="phone_number" type="text" value="<%=@mobile_number%>">
            Password:<input name="password" type="password" value="<%=@password%>"> 
            Confirm Password: <input name="confirm_password" type="password" value="<%=@confirm_password%>">
            </p>
            <input type="submit" value="Register">
        </form>
        <form method="get" action="/">
           <input type="submit" value="Cancel"> 
        </form>
        <%if @validation==false %>
          <p id=failure_text>Please ensure all fields are filled correctly.</p>
        <% end %>
        <%if @confirmation==false %>
          <p id=failure_text>The 'Password' and 'Confirm Password' are not the same</p>
        <% end %>
        <%if @unique_username==false %>
          <p id=failure_text>Your Username has been taken. Please use another one.</p>
        <% end %>
        <%if @valid_email==false %>
          <p id=failure_text>Your email address is invalid. Please change it.</p>
        <% end %>
        </div>
	</main>
    </div>
	<footer>
		<hr>
		<p>COM1001, 2020</p>
	</footer>
    </div>

</body>
</html>