<!DOCTYPE>
<html lang="en">
<head>
  <link href='http://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <title>Bookmark Manager</title>
   <link href="../../css/general.css" rel="stylesheet" type="text/css" />
  <link href="../css/general.css" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
   <div id="page-container">
   <div id="content-wrap">
	<header>
		<h1>Bookmark Manager</h1>
	</header>
  <nav>
        <a href="/logout">Log Out</a>
        <a href="/">Home</a>
        <a href="/check_all_users/details/back">Back To Users</a>
  </nav>
	<main>
		<div class="contentSmallForm">
			<h2>Details for <%=@firstname%> <%=@surname%></h2>
            <p>user_id: <%=@id%></p>
            <p>Firstname: <%=@firstname%></p>
            <p>Surname: <%=@surname%></p>
            <p>Email: <%=@email%></p>
            <p>Phone: <%=@phone%></p>
            <p>Password: <%=@password%></p>
            <p>Access Level: <%=@access_level%></p>   
          <form method="post" action="/check_all_users/details/set_role">
            <input type="hidden" name="id" value="<%=@id%>">
            <select name="access_level">
                <option name="R" value="registered" >Registered</option>
                <option name="E" value="employee">Employee</option>
                <option name="A" value="admin" >Admin</option> 
            </select>
            <input type="submit" value="Save">
          </form>
          <form method="get" action="/check_all_users/details/set_password">
            <input type="hidden" name="id" value="<%=@id%>">
            <input type="submit" value="Reset password">
          </form>
    </div>
	</main>
    </div>
	<footer>
		<ul>
			<li><a href="/">Back to homepage</a></li>
		</ul>
		<hr>
		<p>COM1001, 2020</p>
	</footer>
    </div>

</body>
</html>