<!DOCTYPE>
<html lang="en">
<head>
  <link href='http://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <title>Bookmark Manager</title>
  <link href="css/general.css" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
   <div id="page-container">
   <div id="content-wrap">
	<header>
		<h1>Bookmark Manager</h1>
	</header>
  <nav>
      <% if session[:name] %>
        <a href="/logout">Log Out</a>
      <% end %>
        <a href="/">Home</a>
  </nav>
	<main>
		<div class="contentSmallForm">
			<h2>View Bookmarks</h2>
           
             <form method="post" action="/view_bookmarks">
                  <p><input name="search" type="text" value="<%=@search%>"></p>
                  <input type="submit" value="Search">
             </form>
            <%if session[:no_results]==false||!session[:no_results] %>
              <form method="post" action="/view_bookmarks/filter">
               <p><label for="filter">Filter by:</label>
                <select name="filter">
                 <option name="R" value="rate" >Rate</option>
                 <option name="D" value="date">Date</option>
                </select>
                  <input type="submit" value="Filter">
                </p>
              </form>
         
            <%if session[:filter_r]==true||session[:filter_d]==true%>
              <form method="post" action="/view_bookmarks/reset">
                  <input type="submit" value="Reset">
               </form>
            <%end%>
            <%end%>
            
           
            <% if session[:search_bm] == true %>
             <form method="post" action="/view_bookmarks/back">
                  <input type="submit" value="Back to all bookmarks">
             </form>
            <%end%>
            <%if session[:filter_r]==true %>
             <h2>Now Order By Rate:</h2>
            <%end%>
            <%if session[:filter_d]==true %>
              <h2>Now Order By Date:</h2>
            <%end%>
            
             
            <%if @no_results==true %>
                <p id=failure_text>Sorry. There is no relevant results.</p>
            <% end %>
      <div class="TableHolder">       
      <table>
        <tr><th>Title</th><th>Author</th><th>Date</th><th>Rate</th><th>State</th><th></th><th>Details</th></tr>
        <% @list.each do |bookmark| %>
          <tr>
              <td><%=bookmark[:title]%></td>
              <td><%=bookmark[:author]%></td>           
              <td><%=bookmark[:date]%></td>
              <%if bookmark[:num_of_rate]!=0%>
               <td><%=bookmark[:rating]%></td>
              <%end%>
              <%if bookmark[:num_of_rate]==0%>
               <td>Not Rated</td>
              <%end%>
              <% if bookmark[:reported] == 1 %>
              <td>Has Been Reported</td>
              <td>
                  <%if(session[:role]=="admin")%>
                  <form method="post" action="/view_bookmarks/unreported">
                  <p><input type="hidden" name="idu" value="<%=bookmark[:id]%>"></p>
                  <input type="submit" value="Unreport">
                  </form>
                  <%end%>
              </td>
              <% end %>
              <% if bookmark[:reported] == 0 %>
              <td>Not Reported</td>
              <td>
                  <form method="post" action="/view_bookmarks/reported">
                  <p><input type="hidden" name="idr" value="<%=bookmark[:id]%>"></p>
                  <input type="submit" value="Report">
                  </form>
                  
              </td>
              <% end %>
              
              <td>
                <form method="get" action="/view_bookmarks/details">
                 <input type="hidden" name="id" value="<%=bookmark[:id]%>">
                 <input type="submit" value="Details">
                </form>
              </td>
          </tr>
        <% end %>  
      </table>
      </div>
     </div>
	</main>
    </div>
	<footer>
		<ul>
			<li><a href="/">Back to homepage</a></li>
            
		</ul>
		<hr>
		<p>COM1001, 2020</p>
	</footer>
    </div>
</body>
</html>